{% extends "base.html" %}
{% block page_content %}
	<div id="user_form_div">
		<img id="user_image" src="{{ user.image_url }}"/>
		<form id="user_form">
			<label for="first_name">{{ g.USERS.FIRST_NAME_LABEL }}</label>
			<input name="first_name" value="{{ user.first_name or '' }}"/>
			<label for="last_name">{{ g.USERS.LAST_NAME_LABEL }}</label>
			<input name="last_name" value="{{ user.last_name or '' }}"/>
			<label for="image_url">{{ g.USERS.IMAGE_URL_LABEL }}</label>
			<input name="image_url" value="{{ user.image_url or '' }}"/>
			<div class="form_buttons">
				<button class="cancel_bt user_form_bt" type=submit"
					{% if user_id %}
								formaction="{{ g.USERS.PATH }}/{{ user.id }}"
					{% else %}
						{% if crud == 'create' %}
								formaction="/blogly/list"
						{% else %}
								formaction="/blogly/users/{{ user.id }}"
						{% endif %}
					{% endif %}
				>{{ g.MISC.CANCEL_BT }}
				</button>
				<button class="save_bt user_form_bt" type=submit"
								formmethod="{{ method }}"
					{% if crud == 'update' %}
								formaction="{{ g.USERS.PATH }}/{{ user.id }}/edit/save"
					{% elif crud == 'create' %}
								formaction="{{ g.USERS.PATH }}/new"
					{% endif %}
				>{{ g.MISC.SAVE_BT }}
				</button>
			</div>
		</form>
	</div>

{% endblock %}
