{% extends "base.html" %}
{% block page_content %}
	<div id="user_details_form_div">
		<img id="user_details_image" src="{{ user.image_url }}"/>
		<div id="form_with_title">
			<form id="user_details_form">
				<h1>{{ user.full_name() }}</h1>
				<button class="to_list_bt user_details_form_bt" type=submit"
								formaction="/blogly">Users
				</button>
				<button class="to_edit_bt user_details_form_bt" type=submit"
								formaction="/blogly/users/{{ user.id }}/edit">Edit
				</button>
				<button class="delete_bt user_details_form_bt" type=submit"
								formmethod="POST"
								formaction="/blogly/users/{{ user.id }}/delete">
					Delete
				</button>
			</form>
			<h1>Posts</h1>
			<p id="post_list">
				{% for post in posts %}
					<p class="list_item"> ✅ <a
						href="/blogly/posts/{{ post.id }}">{{ post.title }}</a>
					</p>
				{% endfor %}
			<a href="/blogly/users/{{ user.id }}/posts/new"
				 class="to_add_bt">Add Post</a>
		</div>
	</div>
{% endblock %}
