{% extends "base.html" %}
{% block page_content %}
	<div id="user_details_form_div">
		<img id="user_details_image" src="{{ user.image_url }}"/>
		<div id="form_with_title">
			<form id="user_details_form">
				<h1>{{ user.full_name() }}</h1>
				<button class="to_list_bt user_details_form_bt" type="submit"
								formaction="/blogly">{{ g.USERS.LIST_BT }}
				</button>
				<button class="to_edit_bt user_details_form_bt" type="submit"
								formaction="{{ g.USERS.PATH }}/{{ user.id }}/edit">{{ g.USERS.EDIT_BT }}
				</button>
				<button class="delete_bt user_details_form_bt" type="submit"
								formmethod="POST"
								formaction="{{ g.USERS.PATH }}/{{ user.id }}/delete">
					{{ g.USERS.DEL_BT }}
				</button>
			</form>
			<h1>Posts</h1>
			<p id="post_list">
				{% for post in posts %}
					<p class="list_item"> ✅ <a
						href="{{ g.POSTS.PATH }}/{{ post.id }}">{{ post.title }}</a>
					</p>
				{% endfor %}
			<a href="{{ g.USERS.PATH }}/{{ user.id }}/posts/new"
				 class="to_add_bt">{{ g.POSTS.ADD_BT }}</a>
		</div>
	</div>
{% endblock %}
