{% extends "base.html" %}
{% block page_content %}
	<link href="{{ g.POSTS.STATIC }}/css/post_form.css"
				rel="stylesheet"/>
	<div id="post_form_div">
		<div id="post_form">
			<form>
				<label for="post_title">{{ g.POSTS.TITLE_LABEL }}</label>
				<input id="post_title" name="title"
							 value="{{ post.title or '' }}"/>
				<label for="post_content">{{ g.POSTS.CONTENT_LABEL }}</label>
				<textarea id="post_content"
									name="content">{{ post.content or '' }}
			</textarea>

				<h2>{{ g.TAGS.LIST_LABEL }}</h2>

				<div class="tag_v_list_check">
					{% for tag in all_tags %}
						<div class="div_container">
							<input type="checkbox"
										 class="the_input"
								{% if tag.id in post_tag_ids %}
										 checked="checked"
								{% endif %}
										 id="tag_{{ tag.id }}"
										 name="tag_keys" value="{{ tag.id }}"/>
							<label for="tag_{{ tag.id }}"
										 class="the_label">{{ tag.name }}
							</label>
							{#<span class="checkmark"></span>#}
						</div>
					{% endfor %}
				</div>

				<div class="form_buttons">
					<button class="cancel_bt post_form_bt" type="submit"
									formaction="{{ g.USERS.PATH }}/{{ post.user_id }}">{{ g.MISC.CANCEL_BT }}
					</button>
					<button class="save_bt post_form_bt" type="submit"
									formmethod="{{ method }}"
						{% if crud == 'update' %}
									formaction="{{ g.POSTS.PATH }}/{{ post.id }}/edit"
						{% elif crud == 'create' %}
									formaction="{{ g.USERS.PATH }}/{{ post.user_id }}/posts/new"
						{% endif %}
					>{{ g.MISC.SAVE_BT }}
					</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
