{% extends "base.html" %}
{% block page_content %}
	<div id="post_details_form_div">
		<div id="form_with_title">
			<form id="post_details_form">
				<h1>{{ post.title }}</h1>
				<div class="post_content">{{ post.content }}</div>
				<button class="to_list_bt post_details_form_bt" type=submit"
								formaction="/blogly/users/{{ post.user_id }}">Posts
				</button>
				<button class="to_edit_bt post_details_form_bt" type=submit"
								formaction="/blogly/posts/{{ post.id }}/edit">Edit
				</button>
				<button class="delete_bt post_details_form_bt" type=submit"
								formmethod="POST"
								formaction="/blogly/posts/{{ post.id }}/delete">
					Delete
				</button>
				<h1>Tags</h1>
				{% for tag in post.rel_tags %}
					<div>
						<input class="post_tag_item" type="checkbox"
									 id="tag_{{ tag.id }}"
									 name="tag_{{ tag.id }}"/>
						<label for="tag_{{ tag.id }}"
									 class="post_tag_item">{{ tag.name }}</label>
					</div>
				{% endfor %}
			</form>
		</div>
	</div>
{% endblock %}
