{% extends "base.html" %}
{% block page_content %}
	<div id="post_details_form_div">
		<div id="form_with_title">
			<form id="post_details_form">
				<h1>{{ post.title }}</h1>
				<div class="post_content">{{ post.content }}</div>

				<div class="tag_h_list">
					<span class="tags_label">Tags:</span>
					{% for tag in post.rel_tags %}
						<a class="tag_h_list_item"
							 href="/blogly/tags/{{ tag.id }}">{{ tag.name }}</a>
					{% endfor %}
				</div>
				<button class="to_list_bt post_details_form_bt" type=submit"
								formaction="/blogly/users/{{ post.user_id }}">Posts
				</button>
				<button class="to_edit_bt post_details_form_bt" type=submit"
								formaction="/blogly/posts/{{ post.id }}/edit">Edit
				</button>
				<button class="delete_bt post_details_form_bt" type=submit"
								formmethod="POST"
								formaction="/blogly/posts/{{ post.id }}/delete">
					Delete
				</button>
				<a href="/blogly/users/{{ post.user_id }}/posts/new"
					 class="to_add_bt">New Post</a>

			</form>
		</div>
	</div>
{% endblock %}
