#user_form_div {
	display : flex;
	}

#user_form {
	display        : inline-block;
	vertical-align : top;
	}

.tag_v_list_check {
	display : flex;
	}

.div_container {
	display : flex;
	}

.div_container:hover {
	}

.div_container .the_input {
	display : none;
	}

.div_container .the_label {
	background-color : gray;
	border-radius    : 0.3em;
	color            : black;
	cursor           : pointer;
	display          : inline-block;
	line-height      : 1.4em;
	margin           : 0 0.3em 0.5em 0;
	padding          : 0.3em 0.5em 0.2em 0.3em;
	}

.div_container .the_label:hover {
	color : white;
	}

.div_container input:checked ~ .the_label {
	background-color : green;
	color            : white;
	}

