button {
	border        : none;
	border-radius : 0.5em;
	font-size     : 1em;
	padding       : 0.5em;
	}

button:hover {
	box-shadow : 3px 3px 5px black;
	color      : black !important;
	}

.to_list_bt, .to_edit_bt, .to_add_bt {
	background-color : lightblue;
	}

.to_edit_bt {

	}

.form_buttons {
	margin-top : 1em;
	}

.to_add_bt {
	border          : none;
	border-radius   : 0.5em;
	color           : black !important;
	display         : inline-block;
	font-size       : 1em;
	padding         : 0.6em;
	/*width: max-content;*/
	text-decoration : none !important;
	}

.to_add_bt:hover {
	box-shadow : 3px 3px 5px black;
	color      : black !important;
	}

.delete_bt {
	background-color : red;
	}

.save_bt {
	background-color : green;
	}

.cancel_bt {
	background-color : lightcoral;
	}
