{% extends "base.html" %}
{% block page_content %}
	<div id="post_form_div">
		<form id="post_form">
			<label for=title">Title</label>
			<input name="title" value="{{ post.title or '' }}"/>
			<label for="content">Content</label>
			<textarea
				name="content">{{ post.content or '' }}</textarea>
			<div class="form_bt_div">
				<button class="cancel_bt post_form_bt" type=submit"
								formaction="/users/{{ post.user_id }}">Cancel
				</button>
				<button class="save_bt post_form_bt" type=submit"
								formmethod="{{ method }}"
					{% if crud == 'update' %}
								formaction="/posts/{{ post.id }}/edit"
					{% elif crud == 'create' %}
								formaction="/users/{{ post.user_id }}/posts/new"
					{% endif %}
				>Save
				</button>
			</div>
		</form>
	</div>

{% endblock %}

