html, body {
	background-color : lightyellow;
	}

img {
	border         : 5px solid green;
	height         : 10em;
	box-shadow     : 3px 3px lightgray;
	vertical-align : bottom;
	margin: 5px;
	}

label, input {
	display : block;
	}

/*legend {*/
/*	font-size  : 1.5em;*/
/*	text-align : center;*/
/*	width      : 100%;*/
/*	border     : 1px solid gray*/
/*	}*/

#content_div {
	border : 5px solid magenta;
	}

#user_form_div {
	border  : 5px solid coral;
	display : flex;
	}

#user_form {
	border         : 5px solid red;
	display        : inline-block;
	vertical-align : top;
	}

/*
 * USER_EDIT.HTML
 */

.user_edit_form_bt {
	display : inline-block;
	/*float   : left;*/
	}

#user_details_image {
	}

/*
 * USER_VIEW.HTML
 */
#user_details_form_div {
	border  : 5px solid coral;
	display : flex;
	}

#user_details_form_div h1 {
	/*color   : blue;*/
	/*display : inline-block;*/
	vertical-align: top;
	}

img#user_details_image {
	/*float  : left;*/
	border : 10px solid yellow;
	}

#user_details_form {
	/*float : left;*/
	/*vertical-align: bottom;*/
	border : 5px solid lightblue;
	}

#form_with_title{
		border: 5px solid maroon;
	}

.user_details_form_bt {
	display : inline-block;
	vertical-align: bottom;
	/*float   : left;*/
	}

#to_list_bt {

	}

#to_edit_bt {

	}

#to_dele_bt {

	}
