html, body {
	background-color : lightyellow;
	}

img {
	border         : 5px solid green;
	height         : 10em;
	box-shadow     : 3px 3px lightgray;
	vertical-align : bottom;
	margin: 5px;
	}

label, input {
	display : block;
	}

button {
	border: none;
	padding: 1em;
	border-radius: 0.5em;
	}

button:hover{
	box-shadow: 3px 3px gray;
	}

#content_div {
	/*border : 5px solid magenta;*/
	}

#user_form_div {
	/*border  : 5px solid coral;*/
	display : flex;
	}

#user_form {
	/*border         : 5px solid red;*/
	display        : inline-block;
	vertical-align : top;
	}

.button{
	/*font             : bold 11px Arial;*/
	text-decoration  : none;
	/*background-color : #eeeeee;*/
	/*color            : #333333;*/
	/*padding          : 2px 6px 2px 6px;*/
	/*border-top       : 1px solid #cccccc;*/
	/*border-right     : 1px solid #333333;*/
	/*border-bottom    : 1px solid #333333;*/
	/*border-left      : 1px solid #cccccc;*/
	border        : none;
	padding       : 1em;
	border-radius : 0.5em;
		background-color: lightblue;
	}

.button:hover {
	box-shadow : 3px 3px gray;
	}

/*
 * USER_EDIT.HTML
 */

.user_edit_form_bt {
	display : inline-block;
	/*float   : left;*/
	}

#user_details_image {
	}

/*
 * USER_VIEW.HTML
 */
#user_details_form_div {
	border  : 5px solid coral;
	display : flex;
	}

#user_details_form_div h1 {
	/*color   : blue;*/
	/*display : inline-block;*/
	vertical-align: top;
	}

img#user_details_image {
	/*float  : left;*/
	/*border : 10px solid yellow;*/
	}

#user_details_form {
	/*float : left;*/
	/*vertical-align: bottom;*/
	/*border : 5px solid lightblue;*/
	}

#form_with_title{
		/*border: 5px solid maroon;*/
	}

.user_details_form_bt {
	display : inline-block;
	vertical-align: bottom;
	/*float   : left;*/
	}

.to_list_bt, .to_edit_bt, .to_add_bt {
	background-color: lightblue;
	}

.to_edit_bt {

	}

.to_add_bt {

	}

.delete_bt{
	background-color: red;
	}

.save_bt{
	background-color: green;
	}

.cancel_bt{
	background-color: lightcoral;
	}
