{% extends "base.html" %}
{% block page_content %}
	<div id="tag_form_div">
		<form id="tag_form">
			<label for="tag_name">Tag Name</label>
			<input name="name" id="tag_name" value="{{ tag.name or '' }}"/>
			<button class="cancel_bt tag_form_bt" type="submit"
							formaction="/blogly/tags">Cancel
			</button>
			<button class="save_bt tag_form_bt" type="submit"
							formmethod="{{ method }}"
				{% if crud == 'update' %}
							formaction="{{ g.TAGS.PATH }}/{{ tag.id }}/edit/save"
				{% elif crud == 'create' %}
							formaction="{{ g.TAGS.PATH }}/new"
				{% endif %}
			>Save
			</button>
		</form>
	</div>

{% endblock %}
