{% extends "base.html" %}
{% block page_content %}
	<div id="tag_details_form_div">
		<div id="form_with_title">
			<form id="tag_details_form">
				<h1>{{ tag.name }}</h1>
				<button class="to_list_bt tag_details_form_bt" type="submit"
								formaction="/blogly/tags">Tags
				</button>
				<button class="to_edit_bt tag_details_form_bt" type="submit"
								formaction="{{ g.TAGS.PATH }}/{{ tag.id }}/edit">Edit
				</button>
				<button class="delete_bt tag_details_form_bt" type="submit"
								formmethod="POST"
								formaction="{{ g.TAGS.PATH }}/{{ tag.id }}/delete">
					Delete
				</button>
			</form>
			<h1>Posts</h1>
			<p id="post_list">
				{% for post in tag.rel_posts %}
					<p class="list_item"> ✅ <a
						href="{{ g.POSTS.PATH }}/{{ post.id }}">{{ post.title }}</a>
					</p>
				{% endfor %}
			<a href="{{ g.TAGS.PATH }}/new"
				 class="to_add_bt">New Tag</a>
		</div>
	</div>
{% endblock %}
